#buttonToCart {
  align-items: center;
  background-color: red;
  color: white;
  display: flex;
  justify-items: center;
  margin-left: 90vw;
  margin-top: 85vh;
  padding: 5px;
  position: fixed;
  z-index: 2;
}
#buttonToCart img {
  align-self: center;
  display: flex;
}
@media (max-width: 480px) {
  #buttonToCart {
    flex-direction: column;
  }
  #buttonToCart img {
    width: 20px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  #buttonToCart img {
    width: 30px;
  }
}
@media (min-width: 770px) and (max-width: 993px) {
  #buttonToCart img {
    width: 40px;
  }
}
@media (min-width: 993px) {
  #buttonToCart img {
    width: 50px;
  }
}
