footer {
  align-items: center;
  background-color: red;
  color: white;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 90%;
  margin: 10px auto;
}
footer h3 {
  margin: 1vh;
}
