.containerHome{
    color: black;
    width: 80%;
    margin: auto auto;
    height: 80vh;
}

h2{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    border-bottom: 2px solid red;
}

p{
    text-align: justify;
}